@using ShindaTest2.Models.Shinda;

<div class="row">
    <div class="col-6 m-2" style="font-size:20px;padding-left:20%">新達訂單</div>
    <div class="col-6"></div>
</div>

<div class="row">
    <div class="col-4 border-right border-dark" style="height:500px;padding-left:10%">
        <div id="test">
            <div class="m-2">姓名</div>
            <div class="m-2">
                <input type="text" name="name" id="name" />
                <br />
            </div>
            <div class="m-2">商品項目</div>
            @foreach (var item in @ViewBag.list as List<TblProduct>)
            {
                <div class="m-2">
                    <input style="width:50px" type="text" name="qty" />
                    &nbsp; @item.CProdcutName @item.CPrice 元
                </div>

            }
            <br />
            <button id="buy" style="display:inline-block">購買</button>
        </div>
    </div>
    <div class="col-8 pl-5 pr-5" style="height:500px;">
        <div class="row mb-4">
            <div class="col-4">
                <input type="text" onkeyup="get(event.target.value)" class="form-control" placeholder="訂單號碼" />
            </div>
            <div class="col-4">
                <input type="text" onkeyup="get2(event.target.value)" class="form-control" placeholder="姓名" />
            </div>
            <div class="col-4">
                <select class="form-control">
                    <option value="0">請選擇...</option>
                    @foreach (var item in ViewBag.list as List<TblProduct>)
                    {
                        <option value="@item.CProdcutId">@item.CProdcutName</option>
                    }
                </select>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>編號</th>
                        <th>日期</th>
                        <th>姓名</th>
                        <th>金額</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>

@section Scripts{

<script>
    var res = {

    };
    


    window.onload = function(){
        var req = new XMLHttpRequest();
        req.open('GET','https://localhost:44366/Shinda/Get',true);
        req.setRequestHeader("Content-type", "application/json");
        req.setRequestHeader("Accept","json")

        req.send();

        req.onreadystatechange = function(){
            if(req.status == 200 && req.readyState == 4){

                 res = JSON.parse(req.response);

               

                    for(i = 0;i<res.length;i++){
                        $('tbody').append(`<tr><td>${res[i].cID}</td><td>${res[i].showDt}</td><td>${res[i].cName}</td><td>${res[i].showTot}</td><td><a href="javascript:void(0)" onclick="ttt()">查看訂單</a></td></tr>`)
                    }
                
            }
        }
    }

    function get(value){

        var j = 0;

        $('tbody').html('');

        for(j = 0;j < res.length;j++){
            if(res[j].cID.indexOf(value.toUpperCase()) != -1){
                 $('tbody').append(`<tr><td>${res[j].cID}</td><td>${res[j].showDt}</td><td>${res[j].cName}</td><td>${res[j].showTot}</td><td><a href="javascript:void(0)" onclick="ttt()">查看訂單</a></td></tr>`)
            }
        }

        //alert(res[0].cID);
        //alert(value)
    }

        function get2(value){

        //console.log(res[j].cName);

        var j = 0;

        $('tbody').html('');

        for(j = 0;j < res.length;j++){
            if(res[j].cName.indexOf(value.toUpperCase()) != -1){
                 $('tbody').append(`<tr><td>${res[j].cID}</td><td>${res[j].showDt}</td><td>${res[j].cName}</td><td>${res[j].showTot}</td><td><a href="javascript:void(0)" onclick="ttt()">查看訂單</a></td></tr>`)
            }
        }

        //alert(value)
    }

    document.getElementById('buy').addEventListener('click',function(){

        var Sign = {
            cID:'',
            cName:'',
            cDT:null,
            cSubTotal:0,
            items:''
        };

        Sign.cName = document.getElementsByName('name')[0].value;

        var qty = document.querySelectorAll('input[name=qty]');

        var i = 0;

        var arr = [];
        debugger;

        for(i = 0; i < qty.length; i++ ){
            if(qty[i].value != ''){
                arr.push(qty[i].value);
            }
            else{
                arr.push(0);
            }
        }

        debugger

        Sign.items = arr.join(',');




        var data = JSON.stringify(Sign);

        //alert(data);

        console.log(data);

        var req = new XMLHttpRequest();
        req.open('POST','https://localhost:44366/Shinda/Post',true);
        req.setRequestHeader("Content-type", "application/json");
        req.setRequestHeader("Accept","json")

        req.send(data);

        req.onreadystatechange = function(){
            if(req.status == 200 && req.readyState == 4){

                res = JSON.parse(req.response);

                if(res.Msg != undefined){
                    alert(res.Msg);
                }
                else{



                alert('訂單已送出');

                var inps = $(':input[name=qty]');

                for (i = 0; i < inps.length; i++){
                    inps[i].value = '';
                    inps[i].checked = false;
                }

                document.getElementById('name').value = '';

                $('tbody').html('');

                    for(i = 0;i<res.length;i++){
                        $('tbody').append(`<tr><td>${res[i].cID}</td><td>${res[i].showDt}</td><td>${res[i].cName}</td><td>${res[i].showTot}</td><td><a href="javascript:void(0)" onclick="Get()">查看訂單</a></td></tr>`)
                    }
                }
            }
        }
    })

    


</script>
} 